<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.home.user.model.dao.HouseDao">
	
	<resultMap id="apartmentSearchResponseMap" type="com.ssafy.home.user.model.dto.SearchHouseResponseDto">
		<!-- <id column="id" property="id"/> -->
		<result column="apt_seq" property="aptSeq"/>
		<result column="umd_nm" property="umdNm"/>
        <result column="jibun" property="jibun"/>
        <result column="road_nm" property="roadNm"/>
        <result column="road_nm_bonbun" property="roadNmBonbun"/>
        <result column="road_nm_bubun" property="roadNmBubun"/>
        <result column="apt_nm" property="aptNm"/>
        <result column="latitude" property="latitude"/>
        <result column="longitude" property="longitude"/>
	</resultMap>
	
	<resultMap id="houseDealResponseMap" type="com.ssafy.home.user.model.dto.HouseDealResponseDto">
	    <result column="apt_seq" property="aptSeq"/>
	    <result column="apt_nm" property="aptName"/>
	    <result column="apt_dong" property="aptDong"/>
	    <result column="floor" property="floor"/>
	    <result column="exclu_use_ar" property="exclusiveUseArea"/>
	    <result column="deal_amount" property="dealAmount"/>
	    <result column="deal_date" property="dealDate"/>
	    <result column="avg_deal_amount" property="avgDealAmount"/>
	</resultMap>	
	
	<!-- 검색어로 특정 아파트 조회 (GET /apartments/search?keyword=?) -->
	<select id="searchHousesByKeyword" 
			parameterType="string" 
			resultMap="apartmentSearchResponseMap">
		select 
			apt_seq, 
		    umd_nm, jibun, road_nm, road_nm_bonbun, road_nm_bubun, 
		    apt_nm, 
		    latitude, longitude
			from houseinfos
		where apt_nm like concat('%', #{keyword} , '%');
	</select>
	
	<!-- 특정 매물의 실거래가 전체 내역 출력 -->
	<select id="getHouseDealsByAptSeq" parameterType="string" resultMap="houseDealResponseMap">
	    SELECT 
		    row_number() over ( order by str_to_date(concat(hd.deal_year, lpad(hd.deal_month, 2, '0'), lpad(hd.deal_day, 2, '0')), '%Y%m%d') desc ) as no
		    ,hi.apt_seq, hi.apt_nm, hd.apt_dong, hd.floor, hd.exclu_use_ar, hd.deal_amount, 
		    str_to_date(concat(hd.deal_year, lpad(hd.deal_month, 2, '0'), lpad(hd.deal_day, 2, '0')), '%Y%m%d') AS deal_date
		FROM housedeals hd 
		JOIN houseinfos hi ON hd.apt_seq = hi.apt_seq
		WHERE hi.apt_seq = #{aptSeq}
		ORDER BY deal_date desc;
	</select>
	
</mapper>